<div class="a-flex a-gap-3 a-flex-wrap a-items-center a-p-3 a-bg-off-white a-rounded-md">
    <!-- Primary Button -->
    {% include atoms/button.html 
       text="Primary Button" 
       variant="primary" %}

    <!-- Secondary Button -->
    {% include atoms/button.html 
       text="Secondary Button" 
       variant="secondary" %}

    <!-- Small Button -->
    {% include atoms/button.html 
       text="Small" 
       variant="primary" 
       size="small" %}

    <!-- Large Button -->
    {% include atoms/button.html 
       text="Large Button" 
       variant="primary" 
       size="large" %}
</div>