<div class="a-grid-auto a-gap-3">
    {% include atoms/color-swatch.html 
       color="#E64544"
       name="Primary Red"
       description="Energie & Actie" %}
    
    {% include atoms/color-swatch.html 
       color="#1E59A6"
       name="Primary Blue"
       description="Vertrouwen & Stabiliteit" %}
    
    {% include atoms/color-swatch.html 
       color="#1D1621"
       name="Black"
       description="Kracht & Professionaliteit" %}
    
    {% include atoms/color-swatch.html 
       color="#FFFFFF"
       name="White"
       description="Helderheid & Eenvoud"
       class="a-border" %}
</div>