<div class="a-space-y-3">
    <!-- Heading Level 1 -->
    {% include atoms/heading.html 
       text="Heading Level 1 - Extra Large" 
       level=1 %}
    
    <!-- Heading Level 2 -->
    {% include atoms/heading.html 
       text="Heading Level 2 - Large" 
       level=2 %}
    
    <!-- Heading Level 3 -->
    {% include atoms/heading.html 
       text="Heading Level 3 - Medium" 
       level=3 %}
    
    <!-- Heading Level 4 -->
    {% include atoms/heading.html 
       text="Heading Level 4 - Small" 
       level=4 %}
    
    <!-- Custom Size -->
    {% include atoms/heading.html 
       text="Custom Size XL op H3" 
       level=3 
       size="xl" %}
</div>