<div class="a-flex a-gap-3 a-mb-3 a-flex-wrap a-justify-center">
    <div class="a-image-container a-h-160 a-rounded-md a-min-w-48">
        <img src="{{ "/assets/mensen/Johan-Groenen-Partner-Tiltshift.jpg" | relative_url }}" alt="Voorbeeld 1">
    </div>
    <div class="a-image-container a-h-160 a-rounded-lg a-shadow-md a-min-w-48">
        <img src="{{ "/assets/mensen/Joris-Boeren-Partner-Tiltshift.jpg" | relative_url }}" alt="Voorbeeld 2">
    </div>
    <div class="a-image-container a-h-160 a-rounded-sm a-min-w-48">
        <img src="{{ "/assets/img/Workshop-Crazy-Eight-Ideation-Warroom.jpg" | relative_url }}" alt="Voorbeeld 3">
    </div>
</div>