<nav class="a-flex a-items-center m-breadcrumbs" aria-label="Breadcrumb">
    {% include atoms/link.html text="Home" href="#" size="sm" %}
    {% include atoms/separator.html type="slash" spacing=true %}
    {% include atoms/link.html text="Projecten" href="#" size="sm" %}
    {% include atoms/separator.html type="slash" spacing=true %}
    {% include atoms/link.html text="Design Thinking" href="#" size="sm" %}
    {% include atoms/separator.html type="slash" spacing=true %}
    {% include atoms/text.html text="Workshop" size="sm" color="grey" element="span" class="aria-current='page'" %}
</nav>