<div class="a-flex a-gap-4 a-flex-wrap">
    <!-- Default variant -->
    <div class="ts-contact-info">
        {% include atoms/heading.html text="Contact" level=4 class="ts-contact-info__title" %}
        <div class="ts-contact-info__item">
            {% include atoms/icon.html type="phone" class="ts-contact-info__icon" %}
            {% include atoms/link.html text=site.data.company.contact.phone.display href=site.data.company.contact.phone.href class="ts-contact-info__link" %}
        </div>
        <div class="ts-contact-info__item">
            {% include atoms/icon.html type="email" class="ts-contact-info__icon" %}
            {% capture email_href %}mailto:{{ site.data.company.contact.email }}{% endcapture %}
            {% include atoms/link.html text=site.data.company.contact.email href=email_href class="ts-contact-info__link" %}
        </div>
        <div class="ts-contact-info__item">
            {% include atoms/icon.html type="location" class="ts-contact-info__icon" %}
            <div class="ts-contact-info__address">
                {% include atoms/text.html text=site.data.company.addresses.visiting.street element="div" %}
                {% capture postal_code_city %}{{ site.data.company.addresses.visiting.postal_code }} {{ site.data.company.addresses.visiting.city }}{% endcapture %}
                {% include atoms/text.html text=postal_code_city element="div" %}
            </div>
        </div>
    </div>
    
    <!-- Card variant -->
    <div class="ts-contact-info ts-contact-info--card">
        {% include atoms/heading.html text="Hoofdkantoor" level=4 class="ts-contact-info__title" %}
        <div class="ts-contact-info__item">
            {% include atoms/icon.html type="phone" class="ts-contact-info__icon" %}
            {% include atoms/link.html text=site.data.company.contact.phone.display href=site.data.company.contact.phone.href class="ts-contact-info__link" %}
        </div>
        <div class="ts-contact-info__item">
            {% include atoms/icon.html type="email" class="ts-contact-info__icon" %}
            {% capture email_href %}mailto:{{ site.data.company.contact.email }}{% endcapture %}
            {% include atoms/link.html text=site.data.company.contact.email href=email_href class="ts-contact-info__link" %}
        </div>
    </div>
</div>