<!-- Image Container Molecule -->
<div class="molecule-card atom-p-4 atom-mb-4">
    <h3 class="molecule-title-sm">Image Container</h3>
    <p class="organism-showcase__description">Responsive afbeelding containers. Gebouwd met <code>molecule-image-container</code>.</p>
    <div class="atom-flex atom-gap-3 atom-mb-3 atom-flex-wrap atom-justify-center">
        <div class="molecule-image-container atom-h-160 atom-rounded-md atom-min-w-48">
            <img src="{{ "/assets/mensen/Johan-Groenen-Partner-Tiltshift.jpg" | relative_url }}" alt="Voorbeeld 1">
        </div>
        <div class="molecule-image-container atom-h-160 atom-rounded-lg atom-shadow-md atom-min-w-48">
            <img src="{{ "/assets/mensen/Joris-Boeren-Partner-Tiltshift.jpg" | relative_url }}" alt="Voorbeeld 2">
        </div>
        <div class="molecule-image-container atom-h-160 atom-rounded-sm atom-min-w-48">
            <img src="{{ "/assets/img/Workshop-Crazy-Eight-Ideation-Warroom.jpg" | relative_url }}" alt="Voorbeeld 3">
        </div>
    </div>
</div>