<!-- Map Molecule -->
<div class="molecule-showcase">
    <h3 class="molecule-showcase__title">Map Component</h3>
    <p class="molecule-showcase__description">Responsive map container voor het tonen van locaties. Ondersteunt iframe embedding.</p>
    
    <!-- Standaard variant -->
    <div class="ts-map">
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2435.665057088619!2d4.896489876871946!3d52.37906087203604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c609ba8ad6b1ab%3A0x84ce855c49e6c813!2sDanzigerbocht%2045F%2C%201013%20AM%20Amsterdam!5e0!3m2!1sen!2snl!4v1707475553761!5m2!1sen!2snl" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
    
    <!-- Small variant -->
    <div class="ts-map ts-map--small atom-mt-4">
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2435.665057088619!2d4.896489876871946!3d52.37906087203604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c609ba8ad6b1ab%3A0x84ce855c49e6c813!2sDanzigerbocht%2045F%2C%201013%20AM%20Amsterdam!5e0!3m2!1sen!2snl!4v1707475553761!5m2!1sen!2snl" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
    
    <!-- Large variant -->
    <div class="ts-map ts-map--large atom-mt-4">
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2435.665057088619!2d4.896489876871946!3d52.37906087203604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c609ba8ad6b1ab%3A0x84ce855c49e6c813!2sDanzigerbocht%2045F%2C%201013%20AM%20Amsterdam!5e0!3m2!1sen!2snl!4v1707475553761!5m2!1sen!2snl" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
</div>