<div class="o-hero">
    <div class="o-hero__background">
{% include atoms/image.html 
   src="/assets/img/Information-Radiator-War-Room-Wand-met-Stickies.jpg"
   alt="Hero background" %}
    </div>
    <div class="o-hero__content">
{% include atoms/heading.html 
   text="Digitale transformatie voor de publieke sector"
   level=1
   class="o-hero__title" %}
{% include atoms/text.html 
   text="Wij helpen overheden met het ontwerpen en bouwen van moderne digitale diensten die écht werken voor inwoners."
   class="o-hero__subtitle" %}
        <div class="o-hero__actions">
{% include atoms/button.html 
   text="Ontdek onze aanpak"
   href="#"
   variant="primary"
   class="a-px-4 a-py-2 a-rounded" %}
{% include atoms/button.html 
   text="Bekijk projecten"
   href="#"
   variant="secondary"
   class="a-bg-white a-text-primary a-px-4 a-py-2 a-rounded a-ml-3" %}
        </div>
    </div>
</div>