{%- comment -%}
Navigation Organism
Parameters:
- class: Additional CSS classes
{%- endcomment -%}

<nav class="o-navigation {{ include.class }}">
    <!-- Desktop Navigation -->
    <div class="o-navigation__desktop a-bg-black a-w-full">
        <div class="o-navigation__container a-flex a-justify-between a-items-center a-px-4 a-py-3">
            <a href="{{ site.baseurl }}/" class="o-navigation__logo">
                {% include atoms/logo-atom.html size="xlarge" %}
            </a>
            <ul class="o-navigation__links a-flex a-gap-4 a-m-0 a-list-none">
                {% for item in site.data.navigation.main %}
                <li>
                    <a href="{{ site.baseurl }}{{ item.url }}" 
                       class="o-navigation__link a-text-white a-clickable{% if page.url == item.url %} o-navigation__link--active{% endif %}">
                        {{ item.text }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    
    <!-- Mobile Navigation -->
    <div class="o-navigation__mobile a-bg-white a-w-full a-shadow-sm">
        <div class="o-navigation__container a-flex a-justify-between a-items-center a-px-4 a-py-3">
            <a href="{{ site.baseurl }}/" class="o-navigation__logo">
                {% include atoms/logo-atom.html size="medium" %}
            </a>
            <a href="{{ site.baseurl }}/menu/" class="o-navigation__hamburger a-text-black">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <line x1="3" y1="6" x2="21" y2="6"></line>
                    <line x1="3" y1="12" x2="21" y2="12"></line>
                    <line x1="3" y1="18" x2="21" y2="18"></line>
                </svg>
            </a>
        </div>
    </div>
</nav>