<div class="organism-showcase">
    <h3 class="organism-showcase__title">Standaard Tekstblok</h3>
    <div class="ts-text-block">
        <h3 class="ts-text-block__title">Onze aanpak</h3>
        <p class="ts-text-block__subtitle">Gebruikersgericht en data-gedreven</p>
        <div class="ts-text-block__content">
            <p>We geloven in co-creatie met eindgebruikers en het gebruik van data voor betere besluitvorming. Onze agile aanpak zorgt voor snelle iteraties en continue verbetering.</p>
            <ul>
                <li>Design Thinking workshops</li>
                <li>Prototyping en user testing</li>
                <li>Agile softwareontwikkeling</li>
            </ul>
        </div>
    </div>
</div>