<div class="organism-showcase">
    <h3 class="molecule-title-sm">Beschikbare Utility Classes</h3>
    <div class="atom-flex atom-gap-4 atom-flex-wrap">
        <div>
            <h4 class="atom-mb-2">Layout</h4>
            <ul class="atom-text-sm">
                <li><code>atom-flex</code> - display: flex</li>
                <li><code>atom-grid-auto</code> - responsive grid</li>
                <li><code>atom-flex-wrap</code> - flex-wrap: wrap</li>
                <li><code>atom-items-center</code> - align-items: center</li>
                <li><code>atom-justify-between</code> - justify-content: space-between</li>
            </ul>
        </div>
        <div>
            <h4 class="atom-mb-2">Spacing</h4>
            <ul class="atom-text-sm">
                <li><code>atom-p-{1-5}</code> - padding</li>
                <li><code>atom-m-{1-5}</code> - margin</li>
                <li><code>atom-px-{1-5}</code> - horizontal padding</li>
                <li><code>atom-py-{1-5}</code> - vertical padding</li>
                <li><code>atom-mb-{1-4}</code> - margin-bottom</li>
            </ul>
        </div>
    </div>
</div>