<div class="molecule-card atom-p-4 atom-mb-4">
    <h3 class="molecule-title-sm">Typography</h3>
    <div class="atom-mb-3">
        <div class="atom-bg-off-white atom-p-3 atom-rounded-md atom-mb-3">
            <h4 class="atom-mb-2">Text Sizes</h4>
            <div class="atom-text-sm atom-mb-1">atom-text-sm: Kleine tekst</div>
            <div class="atom-text-md atom-mb-1">atom-text-md: Normale tekst</div>
            <div class="atom-text-lg atom-mb-1">atom-text-lg: Grote tekst</div>
            <div class="atom-text-xl">atom-text-xl: Extra grote tekst</div>
        </div>
        
        <div class="atom-bg-off-white atom-p-3 atom-rounded-md atom-mb-3">
            <h4 class="atom-mb-2">Font Types</h4>
            <div class="atom-text atom-mb-1">atom-text: Body text (Inter)</div>
            <div class="atom-heading atom-mb-1">atom-heading: Heading (Inter)</div>
            <div class="atom-font-bold atom-mb-1">atom-font-bold: Bold text</div>
        </div>
        
        <div class="atom-bg-off-white atom-p-3 atom-rounded-md atom-mb-3">
            <h4 class="atom-mb-2">Text Colors</h4>
            <div class="atom-text-primary atom-mb-1">atom-text-primary</div>
            <div class="atom-text-primary-dark atom-mb-1">atom-text-primary-dark</div>
            <div class="atom-text-grey-light atom-mb-1">atom-text-grey-light</div>
            <div class="atom-bg-black atom-text-white atom-p-1 atom-rounded-sm">atom-text-white</div>
        </div>
    </div>
</div>